n8n/workflows/vm_management.json
{
  "name": "LabOps \u2014 VM Management API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "vms",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-list-vms",
      "name": "Webhook: List VMs",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        200
      ],
      "webhookId": "labops-list-vms"
    },
    {
      "parameters": {
        "jsCode": "const { execSync } = require('child_process');\nconst fs = require('fs');\n\ntry {\n  // Read env from the container's environment file\n  let envVars = {};\n  try {\n    const procEnv = fs.readFileSync('/proc/1/environ', 'utf-8');\n    procEnv.split('\\0').forEach(line => {\n      const eq = line.indexOf('=');\n      if (eq > 0) envVars[line.substring(0, eq)] = line.substring(eq + 1);\n    });\n  } catch(e) {\n    return [{ json: { vms: [], error: 'Cannot read container environment: ' + e.message } }];\n  }\n\n  const url = envVars.PROXMOX_URL;\n  const node = envVars.PROXMOX_NODE;\n  const tokenId = envVars.PROXMOX_TOKEN_ID;\n  const tokenSecret = envVars.PROXMOX_TOKEN_SECRET;\n  \n  if (!url) return [{ json: { vms: [], error: 'PROXMOX_URL not configured in .env' } }];\n\n  const fetchScript = 'const https=require(\"https\");https.get(\"' + url + '/api2/json/nodes/' + node + '/qemu\",{headers:{\"Authorization\":\"PVEAPIToken=' + tokenId + '=' + tokenSecret + '\"},rejectUnauthorized:false},res=>{let d=\"\";res.on(\"data\",c=>d+=c);res.on(\"end\",()=>console.log(d))}).on(\"error\",e=>console.log(JSON.stringify({error:e.message})));';\n  \n  const raw = execSync('node -e \\'' + fetchScript + '\\'', { encoding: 'utf-8', timeout: 15000 });\n  const data = JSON.parse(raw);\n  \n  if (data.error) return [{ json: { vms: [], error: data.error } }];\n  \n  const vms = (data.data || [])\n    .filter(vm => vm.vmid >= 200 && vm.vmid < 300)\n    .map(vm => ({\n      vmid: vm.vmid,\n      name: vm.name || 'vm-' + vm.vmid,\n      status: vm.status,\n      ip: null,\n      uptime: vm.uptime || 0,\n      tags: vm.tags || ''\n    }));\n  \n  return [{ json: { vms } }];\n} catch(e) {\n  return [{ json: { vms: [], error: e.message } }];\n}"
      },
      "id": "http-proxmox-list",
      "name": "Get Proxmox VMs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "respond-list-vms",
      "name": "Respond: VM List",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        920,
        200
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vms/:vmid/start",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-start-vm",
      "name": "Webhook: Start VM",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        440
      ],
      "webhookId": "labops-start-vm"
    },
    {
      "parameters": {
        "jsCode": "const { execSync } = require('child_process');\nconst vmid = $input.first().json.params?.vmid || $input.first().json.body?.vmid;\nif (!vmid) return [{ json: { success: false, error: 'No vmid provided' } }];\n\ntry {\n  const url = process.env.PROXMOX_URL + '/api2/json/nodes/' + process.env.PROXMOX_NODE + '/qemu/' + vmid + '/status/start';\n  const auth = 'PVEAPIToken=' + process.env.PROXMOX_TOKEN_ID + '=' + process.env.PROXMOX_TOKEN_SECRET;\n  const script = `const https=require('https');const u=new URL('${url}');const req=https.request({hostname:u.hostname,port:u.port,path:u.pathname,method:'POST',headers:{'Authorization':'${auth}'},rejectUnauthorized:false},res=>{let d='';res.on('data',c=>d+=c);res.on('end',()=>console.log(JSON.stringify({status:res.statusCode})))});req.end();`;\n  const raw = execSync('node -e \"' + script.replace(/\"/g, '\\\\\\\\\"') + '\"', { encoding: 'utf-8', timeout: 15000 });\n  return [{ json: { success: true, action: 'start_vm', vmid: vmid } }];\n} catch(e) {\n  return [{ json: { success: false, error: e.message } }];\n}"
      },
      "id": "http-start-vm",
      "name": "Do Start VM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        440
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, action: 'start', vmid: $('Webhook: Start VM').first().json.params.vmid }) }}"
      },
      "id": "respond-start-vm",
      "name": "Respond: Start VM",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        700,
        440
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vms/:vmid/stop",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-stop-vm",
      "name": "Webhook: Stop VM",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        640
      ],
      "webhookId": "labops-stop-vm"
    },
    {
      "parameters": {
        "jsCode": "const { execSync } = require('child_process');\nconst vmid = $input.first().json.params?.vmid || $input.first().json.body?.vmid;\nif (!vmid) return [{ json: { success: false, error: 'No vmid provided' } }];\n\ntry {\n  const url = process.env.PROXMOX_URL + '/api2/json/nodes/' + process.env.PROXMOX_NODE + '/qemu/' + vmid + '/status/shutdown';\n  const auth = 'PVEAPIToken=' + process.env.PROXMOX_TOKEN_ID + '=' + process.env.PROXMOX_TOKEN_SECRET;\n  const script = `const https=require('https');const u=new URL('${url}');const req=https.request({hostname:u.hostname,port:u.port,path:u.pathname,method:'POST',headers:{'Authorization':'${auth}'},rejectUnauthorized:false},res=>{let d='';res.on('data',c=>d+=c);res.on('end',()=>console.log(JSON.stringify({status:res.statusCode})))});req.end();`;\n  const raw = execSync('node -e \"' + script.replace(/\"/g, '\\\\\\\\\"') + '\"', { encoding: 'utf-8', timeout: 15000 });\n  return [{ json: { success: true, action: 'stop_vm', vmid: vmid } }];\n} catch(e) {\n  return [{ json: { success: false, error: e.message } }];\n}"
      },
      "id": "http-stop-vm",
      "name": "Do Stop VM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        640
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, action: 'stop', vmid: $('Webhook: Stop VM').first().json.params.vmid }) }}"
      },
      "id": "respond-stop-vm",
      "name": "Respond: Stop VM",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        700,
        640
      ]
    },
    {
      "parameters": {
        "httpMethod": "DELETE",
        "path": "vms/:vmid/destroy",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-destroy-vm",
      "name": "Webhook: Destroy VM",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        840
      ],
      "webhookId": "labops-destroy-vm"
    },
    {
      "parameters": {
        "jsCode": "const { execSync } = require('child_process');\nconst vmid = $input.first().json.params?.vmid || $input.first().json.body?.vmid;\nif (!vmid) return [{ json: { success: false, error: 'No vmid provided' } }];\n\ntry {\n  const url = process.env.PROXMOX_URL + '/api2/json/nodes/' + process.env.PROXMOX_NODE + '/qemu/' + vmid + '/';\n  const auth = 'PVEAPIToken=' + process.env.PROXMOX_TOKEN_ID + '=' + process.env.PROXMOX_TOKEN_SECRET;\n  const script = `const https=require('https');const u=new URL('${url}');const req=https.request({hostname:u.hostname,port:u.port,path:u.pathname,method:'DELETE',headers:{'Authorization':'${auth}'},rejectUnauthorized:false},res=>{let d='';res.on('data',c=>d+=c);res.on('end',()=>console.log(JSON.stringify({status:res.statusCode})))});req.end();`;\n  const raw = execSync('node -e \"' + script.replace(/\"/g, '\\\\\\\\\"') + '\"', { encoding: 'utf-8', timeout: 15000 });\n  return [{ json: { success: true, action: 'destroy_vm', vmid: vmid } }];\n} catch(e) {\n  return [{ json: { success: false, error: e.message } }];\n}"
      },
      "id": "http-destroy-vm",
      "name": "Do Destroy VM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        840
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, action: 'destroy', vmid: $('Webhook: Destroy VM').first().json.params.vmid }) }}"
      },
      "id": "respond-destroy-vm",
      "name": "Respond: Destroy VM",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        700,
        840
      ]
    }
  ],
  "connections": {
    "Webhook: List VMs": {
      "main": [
        [
          {
            "node": "Get Proxmox VMs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Start VM": {
      "main": [
        [
          {
            "node": "Do Start VM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Stop VM": {
      "main": [
        [
          {
            "node": "Do Stop VM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Destroy VM": {
      "main": [
        [
          {
            "node": "Do Destroy VM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Proxmox VMs": {
      "main": [
        [
          {
            "node": "Respond: VM List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Do Start VM": {
      "main": [
        [
          {
            "node": "Respond: Start VM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Do Stop VM": {
      "main": [
        [
          {
            "node": "Respond: Stop VM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Do Destroy VM": {
      "main": [
        [
          {
            "node": "Respond: Destroy VM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "labops"
    }
  ],
  "id": "labopsVmMgmt01"
}